.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.switch{
  padding-top: 45px; 
  padding-left: 15px; 
  display: flex; 
  flex-wrap: wrap;
}

.back {
  position: absolute;
  background-color: #e7eeeb;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  top: 5px;
  left: 5px;
  border-radius: 50%;
}

.vertical-timeline ::before {
  border-radius: 555px;
}

/* 
Website color theme - Don't delete
#05386B
#379683
#5CDB95
#8EE4AF
#EDF5E1
 */
